{% extends 'base.html' %}
{% load static %}

{% block banner %}
    {% if article.banner %}
        <div class='banner' style="background-image: url({{article.banner}});"></div>
    {% else %}
        <div class='banner' style="background-image: url({% static 'img/new-banner.jpg' %});"></div>
    {% endif %}
	
{% endblock %}

{% block main %}
    <h1 class="article-name">{{article.name}}</h1>
    <h4 style="color: gray;">{{article.date|date:'d.m.Y'}}</h4>
    <hr>
    <div class="article-text">
        <div>
            {% autoescape off %}{{article.text}}{% endautoescape %}
        </div>
    </div>
    <hr>
    <div class="article-input-comment">
        {% if user.is_authenticated %}
            {% if user.profile.photo %}
                <div class="photo-comment" style="background-image: url('{{user.profile.photo}}'); background-color: var(--back-color)"></div>
            {% else %}
                <div class="photo-comment" style="background-image: url({% static 'img/user.png' %});"></div>
            {% endif %}
            <form method="POST", action="">
                {% csrf_token %}
                <textarea id="text" name="text" rows="4" cols="50" placeholder="Комментарий..." maxlength="245" required></textarea>
                <input type="submit" value="Поделиться">
            </form>
        {% else %}
            <a href="{% url 'wgopenid' %}">
                <h1 style="color: var(--main-color);">Войти, чтобы оставить комментарий</h1>
            </a>
        {% endif %}
    </div>
    <hr>
    <div class="article-output-comments">
        {% for comment in comments %}
            <div class="text-comment">
                {% if comment.user.profile.photo %}
                    <div class="photo-comment" style="background-image: url('{{comment.user.profile.photo}}'); background-color: var(--back-color)"></div>
                {% else %}
                    <div class="photo-comment" style="background-image: url({% static 'img/user.png' %});"></div>
                {% endif %}
                <div>
                    <h2>{{comment.user.username}}</h2>
                    <h4>{{comment.text}}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}