{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class='banner' style="background-image: url({% static 'img/article-banner.jpg' %});"></div>
{% endblock %}

{% block main %}
    <div class="news">
        <div class="article-text" style="word-wrap: break-word;">
            <h1 style="color: #fff; margin: 20px 30px; text-align: center;">
                {{article.name}}
               
            </h1>
            <hr width="100%" style="margin: 30px 0 30px">
            <div>
                {% autoescape off %}{{article.text}}{% endautoescape %}
            </div>
        </div>
        <div class="comments">
            {% if user.is_authenticated %}
                <form method="POST", action="">
                    {% csrf_token %}
                    <textarea name="text" class="comment-text" placeholder="Comment..." required maxlength="245"></textarea>
                    <input type="submit" value="Поделиться">
                </form>
            {% else %}
                <h1 style="color: var(--color);">
                    <u>
                        <a href="{% url 'wgopenid' %}">Войти, чтобы оставить комментарий</a>
                    </u>
                </h1>
            {% endif %}
            {% if comments %}
                <hr width="100%" style="margin: 30px 0 30px">
            {% endif %}
            {% for comment in comments %}
                <div class="comment">
                    {% if comment.user.profile.photo %}
                        <div class='user' style="background-image: url('{{comment.user.profile.photo}}'); background-size: cover; background-color: #282828"></div>
                    {% else %}
                        <div class='user' style="background-image: url({% static 'img/user.png' %});"></div>
                    {% endif %}
                    <div>
                        <h2>{{comment.user.username}}:</h2>
                        <p>{{comment.text}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}