{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class="banner" style="background-image: url({% static 'img/main-banner.jpg' %});"></div>
{% endblock %}

{% block main %}
    <div class="clan-info">
        <div class="elo">
            <h1>Укрепрайон</h1>
            <div>
                <div>
                    <h3>X</h3>
                    <h2>{{static.sh10}}</h2>
                </div>
                <div>
                    <h3>VIII</h3>
                    <h2>{{static.sh8}}</h2>
                </div>
                <div>
                    <h3>VI</h3>
                    <h2>{{static.sh6}}</h2>
                </div>
            </div>
        </div>
        <div class="logo" style="background-image: url('{{clan.emblem}}');"></div>
        <div class="elo">
            <h1>Глобальная карта</h1>
            <div >
                <div>
                    <h3>X</h3>
                    <h2>{{static.gm10}}</h2>
                </div>
                <div>
                    <h3>VIII</h3>
                    <h2>{{static.gm8}}</h2>
                </div>
                <div>
                    <h3>VI</h3>
                    <h2>{{static.gm6}}</h2>
                </div>
            </div>
        </div>
    </div>
    <h1 style='color: white'><span style="color: var(--main-color)">[{{clan.tag}}]</span> {{clan.name}}</h1>
    <hr>
    <div class="clan-statistic">
        <div>
            <h1>{{static.battles_count}}</h1>
            <h4>Среднее количество боев</h4>
        </div>
        <div>
            <h1>{{static.win_rate}}%</h1>
            <h4>Средний процент побед</h4>
        </div>
        <div>
            <h1>{{static.rate}}</h1>
            <h4>Рейтинг клана</h4>
            <div>
                <img src="{% static 'img/rating-profile-place-icon.png' %}" style="margin-bottom: -4px;">
                <h5>{{static.position}}</h5>
            </div>
        </div>
        <div>
            <h1>{{static.xp_per_battle}}</h1>
            <h4>Средний опыт за бой</h4>
        </div>
        <div>
            <h1>{{static.damage_per_battle}}</h1>
            <h4>Средний урон за бой</h4>
        </div>
    </div>
    {% if streamers %}
        <hr>
        <h1 style='color: white; margin-bottom: 30px'>Клановые стримеры</h1>
        <div class="clan-streamers">
            {% for streamer in streamers %}
                {% if streamer.url %}
                    <a href='{{streamer.url}}' class="streamer" target="_blank">
                        <h1>{{streamer.user}}</h1>
                        <div class="streamer-subscribe">
                            <h3>Подписаться</h3>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}            
{% endblock %}