{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class='banner' style="background-image: url({% static 'img/user-banner.jpg' %});"></div>
{% endblock %}

{% block main %}
{% if edit %}
    <h1 style="color: white; margin-top: 5vh">Редактирование профиля</h1>
    <hr>
    <form method="POST" class="user-profile-edit">
        {% csrf_token %}
        <h2 style="color: white; margin-bottom: 3vh">Ссылка на аватар</h2>
        <input type="text" name="photo" class="profile-edit-input" value="{{user_.profile.photo}}">
        {% if user_.profile.streamer %}
            <h2 style="color: white; margin: 3vh 0">Ссылка на канал</h2>
            <input type="text" name="text" class="profile-edit-input" value="{{user_.profile.url}}">
        {% endif %}
        <input type="submit" value="Сохранить">
    </form>
{% else %}
    {% if user_.profile.photo %}
        <div class="photo-comment" style="margin-top: 5vh; margin-bottom: 2vh; background-image: url('{{user_.profile.photo}}'); background-color: #282828;" id="profile"></div>
    {% else %}
        <div class="photo-comment" style="margin-top: 5vh; margin-bottom: 2vh; background-image: url('{% static 'img/user.png' %}')" id="profile"></div>
    {% endif %}
    <h1 style="color: white;">{{user_.username}}</h1>
    <div class="user-profile">
        {% if user_.username == user.username %}
            <a href="{% url 'interview' %}">
                <h3>Мои опросы </h3>
                {% if question.count > 0 %}
                    <h4>{{question.count}}</h4>
                {% endif %}
            </a>
            <a href="{% url 'edit' user %}">
                <h3>Редактировать</h3>
            </a>
            <a href="{% url 'logout' user %}">
                <h3>Выйти</h3>
            </a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}