body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--max-w);
    height: auto;
    margin: 0 5vw;
    background-color: var(--back-color);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    scroll-behavior: smooth;
    overflow-x:  hidden;  
  }
  
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

hr {
  background-color: var(--main-color);
  color: var(--main-color);
  border-color: var(--main-color);
  margin: 30px 0px;
  width: 100%;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px var(--back-color) inset;
  background-color: var(--back-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--main-color), var(--main-color));
}

/* AdminButton */
.admin-button {
  width: 25px; 
  height: 25px; 
  margin: 0!important;
  position: fixed; 
  top: 0; left: 0;
  z-index: 1;
  background-image: url('../img/gear-pok.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation: 2s linear 0s normal none infinite running admin-button;
}

@keyframes admin-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin-button:hover {
  animation: 1s linear 0s normal none infinite running admin-button;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: var(--max-w);
  height: 7vh;
  padding: 0 5vw;
  background-color: var(--main-color);
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  font-weight: bold;
}

header div a {
  color: var(--back-color);
}

.banner {
  width: 90vw;
  height: 43vh;
  padding: 0 5vw;
  background-position: center 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  width: 100vw;
  height: 3vh;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--back-color);
}

/* @media (min-width: 360px) {
  body {
    margin: 0 2.5vw;
    font-family: "Times New Roman", Georgia, serif;

  }

  header h1 {
    font-size: 1rem;
  }

  header a {
    font-size: 0.5rem;
  }

  .banner {
    background-size: cover;
    background-position: center 200%;
    background-attachment: scroll;
    height: 30vh;
  }
}
  */
/* @media (min-width: 576px) {
  body {
    margin: 0 2.5vw;
  }

  header h1 {
    font-size: 1rem;
  }

  header a {
    font-size: 0.5rem;
  }

  .banner {
    background-size: cover;
    background-position: center 200%;
    background-attachment: scroll;
    height: 30vh;
  }
} */


/* Loader */
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--back-color);
  box-shadow: 0px 24px 64px var(--back-color);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: var(--back-color);
  border-radius: 0;
  box-shadow: none;
}

#ftco-loader.show {
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  display: block;
  transform: rotate(0deg);
}


@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}