{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class='banner' style="background-image: url({% static 'img/players-banner.jpg' %});"></div>
{% endblock %}

{% block main %}
<div class="players-list" id='players-list'>
    <h1 style="color: #fff; margin-top: 40px;">Личный состав клана</h1>
    <h3 style="margin: 0;">{{len}}/100</h3>
    <hr width="100%" style="margin: 20px 0 40px">
    <table>
        <tr>
            <th>Игрок</th>
            <th>BTL
                <span>Количество боев</span>
            </th>
            <th>WGR
                <span>Личный рейтинг WG</span>
            </th>
            <th>W/B
                <span>Процент побед</span>
            </th>
            <th>D/B
                <span>Средний урон</span>
            </th>
            <th>F/B
                <span>Среднее количество уничтоженной техники</span>
            </th>
        </tr>
        {% for player in list %}
        <tr>
            <td>{{player.name}}
                <p>{{player.role}}</p>
            </td>
            <td>{{player.battles}}</td>
            <td>{{player.wgr}}</td>
            <td>{{player.win}}%</td>
            <td>{{player.damage}}</td>
            <td>{{player.frags}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}