{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class='banner' style="background-image: url({% static 'img/players-banner.jpg' %});"></div>
{% endblock %}

{% block main %}
    {% if all %}
      <h1 style='color: white; margin-top: 5vh'>Состав клана [{{clan.tag}}]</h1>
      <h3 style='color: white; margin-bottom: 5vh'>{{len}}/100</h3>
    {% else %}
      <h1 style='color: white; margin-top: 5vh'>Состав роты {{team}}</h1>
      <h3 style='color: white; margin-bottom: 5vh'>{{len}}</h3>
    {% endif %}
    <table class="players">
      <thead>
        <tr>
          <th>Игрок</th>
          <th>BTL</th>
          <th>WGR</th>
          <th>W/B</th>
          <th>D/B</th>
          <th>F/B</th>
          <th>Wn8</th>
          <th>Team</th>
        </tr>
      </thead>
        {% for player in list %}
         <tr>
          <td>
            <a href="{% url 'user' player.name %}">
              {{player.name}}
            </a>
            <h6>{{player.role}}</h6>
          </td>
          <td>{{player.battles}}</td>
          <td>{{player.wgr}}</td>
          <td>{{player.win}}%</td>
          <td>{{player.damage}}</td>
          <td>{{player.frags}}</td>
          <td style="background-image: linear-gradient(-135deg, {{player.color_wn8}}, var(--pass-color), var(--pass-color))">{{player.wn8}}</td>
          {% if player.team %}
              <td style="background-image: linear-gradient(-135deg, {{player.team.color}}, var(--pass-color), var(--pass-color))">
                <a href="{{player.team}}">
                  {{player.team}}
                </a>
              </td>
          {% else %}
            <td>Без роты</td>
          {% endif %}
        </tr>
        {% endfor %}
        </table>
{% endblock %}